<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>All Pending Requests</h1>
<ul>
  <% currentUser.receivedRequests.forEach(request => { %>
    <li>
      <%= request.username %> (<%= request.email %>)
      <form action="/home/accept/<%= currentUser._id %>/<%= request._id %>" method="POST" style="display:inline;">
        <button type="submit">Accept</button>
      </form>
      <form action="/home/reject/<%= currentUser._id %>/<%= request._id %>" method="POST" style="display:inline;">
        <button type="submit">Cancel</button>
      </form>
    </li>
  <% }) %>
</ul>

</body>
</html>